<div class="row">
  <div class="col s12 l4 info-container info-jacob-wrapper">
    <div class="info-jacob flow-text">
      <div class="info-jacob-photo card hoverable z-depth-1"></div>
      <div class="info-title">
        Bunrith Seng
      </div>
    </div>
    <div class="grey-text text-darken-2">
      <i class="material-icons info-icon">phone</i> 513-372-0208
    </div>
    <br />
    <div class="grey-text text-darken-2">
      <i class="material-icons info-icon">location_on</i> Austin, Texas, USA
    </div>
  </div>
  <div class="col s12 l8 info-container">
    <div class="flow-text">
      <div class="info-title hide-on-med-and-down">
        <i class="material-icons info-check text-lighten-2 red-text">favorite</i><b class="cyan-text text-lighten-1">
        WELCOME!</b>
      </div>
      <!--<div class="info-title center hide-on-large-only">
        <i class="material-icons info-check text-lighten-2 red-text">favorite</i>
        <br />
        Professional <b class="cyan-text text-lighten-1">UX Design</b>,<br />
        <b class="pink-text text-lighten-1">Full-Stack Development</b>,<br />
        and <b class="orange-text text-lighten-1">Project Management</b>
      </div> -->
    </div>

    <div class="info-box hoverable z-depth-1 card flow-text">
      <div>
        I am Bunrith Seng.  My friends called me Bun as in Bu'n. They love it and I love it, too.

        I am an easy-going person and I am down for classic coffee chat.  Ask me anything!
      </div>
      <br />
      <div>
        Find me on <a href="https://www.linkedin.com/in/bunrith-seng-ab39a5109/" target="_blank">LinkedIn</a>, 
        <a href="https://www.facebook.com/sengbh" target="_blank">Facebook</a>, 
        and <a href="https://instagram.com/bun_seng/">Instagram</a>.
        <br />
        Here is my resume <a href="/assets/sengbhresumee.pdf" target="_blank">Resume</a>
      </div>
    </div>

    <div class="info-text">
      <h5 class="info-header">OBJECTIVE</h5>
      <div class="info-box hoverable z-dept-1 card">
        I am looking to gain hands on experiences in the computer science and engineering industry and to apply
        my skill sets in a challenging environment.
      </div>
    </div>

    <div class="info-text">
        <h5 class="info-header">EDUCATION</h5>
        <div class="info-box hoverable z-dept-1 card">
          <ul>
            Texas State University, San Marcos, TX<li></li>
            Expected: May 2019<li></li><br />
            Bachelor of Science, computer science
            <li></li><br />
            Concentration: computer engineering
            <li></li>
          </ul>
        </div>
      </div>

    <div class="info-text">
      <h5 class="info-header">COURSEWORK</h5>
      <div class="info-box flex-grow hoverable z-depth-1 card">
          <div>
            <div>
                <i class="material-icons info-check text-lighten-2 green-text">check</i>
                Data Structure(C++)
            </div>
          </div>
          <div>
              <div>
                <i class="material-icons info-check text-lighten-2 green-text">check</i>
                  Assembly Language(MIPS)
              </div>
          </div>
          <div>
            <div>
              <i class="material-icons info-check text-lighten-2 green-text">check</i>
                Software engineering
            </div>
        </div>
        <div>
          <div>
            <i class="material-icons info-check text-lighten-2 green-text">check</i>
              Object Oriented(Java)
          </div>
      </div>
      <div>
        <div>
            <i class="material-icons info-check text-lighten-2 green-text">check</i>
              Circuits I
        </div>
    </div>
    <div>
      <div>
          <i class="material-icons info-check text-lighten-2 green-text">check</i>
            Computer System Security
      </div>
  </div>
      </div>
    </div>

    <div class="info-text">
      <h5 class="info-header">SKILLS</h5>
        <div class="info-box hoverable z-dept-1 card">
          Coding: C/C++, MIPS Assembly, HTML, CSS, Python, Android, Java <br />
          Technologies/Environments: Windows, Ubuntu, Linux/Unix, IntelliJ IDEA, Eclipse, Git Bash
        </div>
    </div>

      <div class="info-text">
          <h5 class="info-header">PROJECTS</h5>
          <div class="info-box hoverable z-dept-1 card">
            GitHub: <a href="https://github.com/sengbh">GitHub</a><br />
            TxState Bluetooth Beacon App (Fall 2017)-An app development site<br />
            <li>A work of collaboration to build an app for the musical theatre department</li>
            <li>link: <a href="https://github.com/oct1473254/location-story">location-story</a></li>
            Autonomous Car Project(Fall 2017)-a project for the IEEE-CS-Club
            <li>Worked with other students in developing an autonomous car using Python</li>
            <li>Resolved issues regarding Rest-API and its functionalities</li>
          </div>
        </div>

    
    <div class="info-text">
      <h5 class="info-header">ACTIVITIES</h5>
        <div class="info-box hoverable z-dept-1 card">
          Associate Student of FSA
          <li>Represent the interest of the Filipino Student Association</li>
          <li>Volunteered in various activities for the community</li>
          IEEE-TxState Club
          <li>Learned to collaborate on the projects</li>
          <li>Python coding competition(basic)</li>
        </div>
    </div>


    <div class="info-text">
      <h5 class="info-header">OTHERS</h5>
        <div class="info-box hoverable z-dept-1 card">
          social activities, stackoverflow, piano, block-chain, ai/machine learning, camping, animals.
        </div>
    </div>
    <!--<div class="info-text">
      <h4 class="info-header">How I work</h4>
      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 green-text">check</i>
        I’m with you <b>all the way through</b>, from inception to completion.  I'm highly communicative and remain available long after a project's completion.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 blue-text">check</i>
        I'm fast. You choose the level of <b>documentation</b> &amp; <b>testing</b> you want.  Basic design decisions and flows are always documented.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 orange-text">check</i>
        I work in your current development channels, pay attention to your current design principles, provide <b>concrete estimates</b>, and remain available throughout.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 red-text">check</i>
        In Austin? Let’s <b>grab a coffee</b>. Earth citizen? Shoot me a message below and let’s get this ball rolling.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 purple-text">check</i>
        I'm available as a part-time <b>on-site mentor</b> in the Austin area, as well as a <b>Project Manager</b> for existing projects you’ve got going.  Ask me about custom solutions for your business.
      </div>
    </div> 

    <h4 class="info-header">Choose from my comfort zone</h4>
    <div class="info-box hoverable z-depth-1 card">
      Java 8 / Android (Native) / Angular 4 / TypeScript / AWS / Google Cloud / Python 3 / Arduino / C / C++<br />
      <span class="green-text">$60/hr - $80/hr</span> <span class="grey-text text-lighten-1"><i>depending on project size</i></span>
    </div>

    <h4 class="info-header">Or make me learn something new</h4>
    <div class="info-box hoverable z-depth-1 card">
      Talk with me about your current stack<br />
      <span class="green-text">$100/hr - $140/hr</span> <span class="grey-text text-lighten-1"><i>depending on stack and project size</i></span>
    </div> 

    <h4 class="info-header">How we work together</h4>
    <div class="info-box hoverable z-depth-1 card list">
      <div><span class="grey-text">1.</span> We'll nail down the desired end-product in as much details as we can cover in an initial chat</div>
      <div><span class="grey-text">2.</span> I provide you a concrete estimate based upon our conversation</div>
      <div><span class="grey-text">3.</span> I usually ask for 10% to begin work, and then work in installments upon delivery targets</div>
      <div><span class="grey-text">4.</span> The conversation remains open for refinements and changes</div>
      <div><span class="grey-text">5.</span> I provide a separate estimate for any substantial extended work</div>
    </div> -->

    <div class="info-actions center">
      <a href="mailto:sengbh@ieee.com?subject=Inquiry" class="btn waves-effect waves-light blue white-text">
        Email Bunrith
      </a>

      <br />
      <br />
      <br />

      <span class="grey-text text-darken-2">Looking for something slightly different? You can also <a class="sub-link" href="http://jacob.chat/" target="_blank"><b>hire my mentor</b></a>.</span>
    </div>
  </div>
</div>
