<div class="row">
  <div class="col s12 l4 info-container info-jacob-wrapper">
    <div class="info-jacob flow-text">
      <div class="info-jacob-photo card hoverable z-depth-1"></div>
      <div class="info-title">
        Jacob Ferrero
      </div>
    </div>
    <div class="grey-text text-darken-2">
      <i class="material-icons info-icon">phone</i> (650) 283-6374
    </div>
    <br />
    <div class="grey-text text-darken-2">
      <i class="material-icons info-icon">location_on</i> Austin, Texas, USA
    </div>
  </div>
  <div class="col s12 l8 info-container">
    <div class="flow-text">
      <div class="info-title hide-on-med-and-down">
        <i class="material-icons info-check text-lighten-2 red-text">favorite</i>
        Professional <b class="cyan-text text-lighten-1">UX Design</b>, <b class="pink-text text-lighten-1">Full-Stack Development</b>, and <b class="orange-text text-lighten-1">Project Management</b>
      </div>
      <div class="info-title center hide-on-large-only">
        <i class="material-icons info-check text-lighten-2 red-text">favorite</i>
        <br />
        Professional <b class="cyan-text text-lighten-1">UX Design</b>,<br />
        <b class="pink-text text-lighten-1">Full-Stack Development</b>,<br />
        and <b class="orange-text text-lighten-1">Project Management</b>
      </div>
    </div>

    <div class="info-box hoverable z-depth-1 card flow-text">
      <div><b>Hi there!</b> I'm Jacob. A builder and motivator obsessed with great user experiences.<br />
        <br />
        You may have come across my work already, from building <a href="https://www.ever.com/" target="_blank">Ever for Android</a> out of thin air, and from my work on the <a href="https://www.radius.com/" target="_blank">Radius</a> CMO experience and <a href="https://hire.google.com/" target="_blank">Google Hire</a>, Google's new ATS.</div>
      <br />
      <div>Find me on <a href="https://www.linkedin.com/in/jacobferrero/" target="_blank">LinkedIn</a>, <a href="https://www.facebook.com/jacobaaronferrero" target="_blank">Facebook</a>, and <a href="https://instagram.com/jacobaferrero/">Instagram</a>.</div>
    </div>


    <div class="info-text">
      <h4 class="info-header">How I work</h4>
      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 green-text">check</i>
        I’m with you <b>all the way through</b>, from inception to completion.  I'm highly communicative and remain available long after a project's completion.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 blue-text">check</i>
        I'm fast. You choose the level of <b>documentation</b> &amp; <b>testing</b> you want.  Basic design decisions and flows are always documented.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 orange-text">check</i>
        I work in your current development channels, pay attention to your current design principles, provide <b>concrete estimates</b>, and remain available throughout.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 red-text">check</i>
        In Austin? Let’s <b>grab a coffee</b>. Earth citizen? Shoot me a message below and let’s get this ball rolling.
      </div>

      <div class="info-box hoverable z-depth-1 card"><i class="material-icons info-check text-lighten-2 purple-text">check</i>
        I'm available as a part-time <b>on-site mentor</b> in the Austin area, as well as a <b>Project Manager</b> for existing projects you’ve got going.  Ask me about custom solutions for your business.
      </div>
    </div>

    <h4 class="info-header">Choose from my comfort zone</h4>
    <div class="info-box hoverable z-depth-1 card">
      Java 8 / Android (Native) / Angular 4 / TypeScript / AWS / Google Cloud / Python 3 / Arduino / C / C++<br />
      <span class="green-text">$60/hr - $80/hr</span> <span class="grey-text text-lighten-1"><i>depending on project size</i></span>
    </div>

    <h4 class="info-header">Or make me learn something new</h4>
    <div class="info-box hoverable z-depth-1 card">
      Talk with me about your current stack<br />
      <span class="green-text">$100/hr - $140/hr</span> <span class="grey-text text-lighten-1"><i>depending on stack and project size</i></span>
    </div>

    <h4 class="info-header">How we work together</h4>
    <div class="info-box hoverable z-depth-1 card list">
      <div><span class="grey-text">1.</span> We'll nail down the desired end-product in as much details as we can cover in an initial chat</div>
      <div><span class="grey-text">2.</span> I provide you a concrete estimate based upon our conversation</div>
      <div><span class="grey-text">3.</span> I usually ask for 10% to begin work, and then work in installments upon delivery targets</div>
      <div><span class="grey-text">4.</span> The conversation remains open for refinements and changes</div>
      <div><span class="grey-text">5.</span> I provide a separate estimate for any substantial extended work</div>
    </div>

    <div class="info-actions center">
      <a href="mailto:jacobaferrero@gmail.com?subject=Inquiry" class="btn waves-effect waves-light blue white-text">
        Email Jacob
      </a>

      <br />
      <br />
      <br />

      <span class="grey-text text-darken-2">Looking for something slightly different? You can also <a class="sub-link" href="http://nateferrero.com" target="_blank"><b>hire my brother</b></a>.</span>
    </div>
  </div>
</div>
