.info-jacob-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.info-jacob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  min-width: 320px;
}

.info-jacob-photo {
  border-radius: 100%;
  display: flex;
  top: 8px;
  width: 320px;
  height: 320px;
  flex-grow: 1;
  margin-bottom: 2rem;

  background-image: url('/assets/bun.jpg');
  background-position: center;
  background-size: cover;
}

.info-container {
  padding: 2rem;
  max-width: 960px;
}

.info-actions {
  padding: 3rem 0;
}

.info-icon {
  vertical-align: text-bottom;
}

.info-title {
  margin-bottom: 2rem;
  font-size: 150%;
}

.info-text{
  font-size: 1.5rem;
}

.flex-grow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-grow div {
  display: flex;
  flex: 50%;
  width: 100%;
}

.info-box {
  padding: 2rem;
}
.info-box > ul > li{
  display: inline;
  padding: 60px;
}
.info-box > li{
  text-indent: 5%;
}

.info-header {
  margin-top: 3rem;
}

.info-check {
  vertical-align: text-bottom;
  font-size: 150%;
}

.sub-link {
  color: inherit;
}

.sub-link:hover,
.sub-link:focus {
  text-decoration: underline;
}

.list>div:not(:last-child) {
  margin-bottom: .5rem;
}
