body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url('/assets/covert_park.jpg');
  background-size: cover;
  background-position: 33% 50%;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: #f3f3f3;
}

.btn {
  font-weight: 500;
}

b {
  font-weight: 500;
}
